.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sub-container {
  background-color: rgb(255, 255, 255);
  width: 25em;
  height: 20em;
  border-radius: 10px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgb(230, 230, 230);
  margin-bottom: 1em;
}

input {
  width: 12em;
  height: 2em;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 4px;
  text-align: center;
  padding: 0.5em;
}

button {
  width: 13em;
  height: 3em;
  margin: 2em;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 4px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 0.5em;
  background-color: rgb(124, 82, 251);
}

.error-message {
  margin: 0.5em;
  font-weight: bolder;
  color: red;
}

/* WeatherApp.css */

.weather-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  font-size: 4rem; /* Adjust the size of the icons as needed */
  color: #333; /* Change the color of the icons */
}

.weather-icon.sunny {
  color: #ffd700; /* Custom color for sunny weather */
}

.weather-icon.clear {
  color: #00008b; /* Custom color for clear weather */
}

.weather-icon.cloudy {
  color: #808080; /* Custom color for cloudy weather */
}

.weather-icon.rainy {
  color: #1e90ff; /* Custom color for rainy weather */
}

.weather-icon.thunderstorm {
  color: #800080; /* Custom color for thunderstorm weather */
}

.weather-icon.snowy {
  color: #ffffff; /* Custom color for snowy weather */
}

.weather-icon.foggy {
  color: #a9a9a9; /* Custom color for foggy weather */
}
